body {
  padding: 0;
  margin: 0 auto;
  background-color: white;
}




.wrapper {
  width: 95%;
  margin-left: 2.5%;
}

.title {
  font-family: 'Roboto', sans-serif;
  margin-left: 60px;

}

.title h1 {
  border-color: green;
  border-width: 10px;
}

.landing-image {
  padding: 0;
  width: 100%;
  z-index: -1;
  display: inline;
  object-fit: cover;
}

ul {
  background-color: black;
}

li {
  float: right;
  list-style-type: none;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}

li a {
  text-decoration-style: none;
  color: black;
  text-underline-position: none;
}
