/* Styling for blog title */

.blog-title {
  font-family: "Roboto";
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

/* Styling for main image */
.main-image img{
  width: 60%;
  margin-left: 20%;
}

/* Styling for blog content */
.blog-content {
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for blog content paragrpah */
.blog-content p {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;

}

/* Stylign for blog content images */
.blog-content img {
  width: 100%;
}
